{% extends 'core/base/base.html' %}

{% block title %}
Login Cancelled | Code Stream
{% endblock %}

{% block content %}

<main class="flex justify-center items-center min-h-screen bg-linear-to-tr from-indigo-900 via-purple-900 to-indigo-900 px-4">
  <div class="w-full max-w-md bg-white/10 shadow-white shadow-lg rounded-xl p-8 text-center">

    <!-- Heading -->
    <h3 class="text-2xl font-bold text-white mb-2">
      Login Cancelled
    </h3>

    <!-- Description -->
    <p class="text-white mb-6 font-semibold">
      You decided to cancel logging in to our site using one of your existing accounts. If this was a mistake, please proceed to sign in.
    </p>

    <!-- Button -->
    <a href="{% url 'account_login' %}" class="w-full flex items-center justify-center gap-2 bg-transparent border border-white/30 hover:border-2 hover:border-white text-white font-semibold py-3 rounded-xl transition-all duration-200 shadow-sm shadow-white hover:shadow-md active:scale-[0.98]">
      Back To Login
    </a>
    
  </div>
</main>

{% endblock %}