{% extends 'core/base/base.html' %}

{% load static humanize django_htmx %}

{% block title %}
My Courses | Code Stream
{% endblock %}

{% block content %}

{% include 'core/base/header.html' %}


<div class="bg-gray-50 min-h-screen pb-20">

  <!-- ═══ Header ═══ -->
  <header class="sticky top-0 z-50 bg-gray-50/95 backdrop-blur-sm border-b border-gray-200">

    <div class="flex items-center justify-between gap-3 p-3 max-w-2xl mx-auto">
      <!-- Search Input -->
      <div class="relative flex-1">
        <svg class="absolute left-3.5 top-1/2 -translate-y-1/2 w-5 h-5 text-gray-400 pointer-events-none" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
          <circle cx="11" cy="11" r="8"></circle>
          <path d="m21 21-4.35-4.35"></path>
        </svg>
        <input type="text" name='search' class="w-full pl-11 pr-4 py-2 rounded focus:rounded-full border-1 border-indigo-800 bg-white text-gray-900 placeholder-gray-400 font-medium outline-none focus:ring-1 focus:ring-indigo-800 transition-all duration-300" autocomplete="off" placeholder="Search for courses..." hx-get="{% url 'instructor-courses-view' %}" hx-trigger="keyup changed delay:300ms" hx-target='#courses-grid' hx-sawp='innerHTML' />
    </div>
  </div>
</header>

  <!-- Courses Container -->

  <div class="w-full max-w-7xl mx-auto py-4 px-4 md:px-10 lg:px-14" id="courses-grid">

    {% include 'course/course/partials/courses_list.html' %}

  </div>

</main>

</div>

{% endblock %}

{% block javascript %}
<script src="{% static 'core/base/javascript/header.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}